.page {
}

.portfolio {
  &__container {
  }
  &__buttons {
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    position: relative;
    width:100%;

    @media screen and (min-width: 768px){
      width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px){
      width: calc((100% - 60px) / 3);
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms $cubic;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__actions {
    position: relative;
    overflow: hidden;
  }

  &__content {
    padding: 20px 16px;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
  }
  &__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $headlines-color;
  }
  &__text {
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: $first-text-color;
  }
}

.portfolio-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;

  @media screen and (min-width: 768px){
    justify-content: center;
  }

  &__item {
  }
  &__button {
    padding: 6px 25px;

    border-radius: 4px;

    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: $sixth-text-color;
    cursor: pointer;
    color: $headlines-color;
    font-family: inherit;
    transition: color 250ms $cubic,
      background-color 250ms $cubic,
      box-shadow 250ms $cubic;

      &:hover,
      &:focus {
        background-color: $second-text-btn-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
          0px 2px 2px rgba(0, 0, 0, 0.12);
        color: $third-text-btn-color;
      }
  }
}

.portfolio-actions {
  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms $cubic;

    .portfolio__link:hover &,
    .portfolio__link:focus & {
      transform: translateY(0);
    }
  }

  &__text {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    padding: 0 23px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;

    letter-spacing: 0.03em;
    color: $third-text-color;
    overflow: auto;
  }
}
