.team {
  background-color: $sixth-text-color;

  &__container {
  }

  &__title {
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    background-color: $first-item-background-color;

    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
    }
  }

  &__content {
    padding: 30px 0;
  }
}

.team-item {
  &__image {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
  }

  &__title {
    margin-bottom: 10px;
    text-align: center;

    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $headlines-color;
  }
  &__text {
    text-align: center;
    margin-bottom: 16px;

    line-height: 1.18;
    letter-spacing: 0.03em;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

.team-icons {
  &__item {
    width: 44px;
    height: 44px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color 250ms $cubic;

    &:hover,
    &:focus {
      background-color: $second-text-logo-color;
    }
  }
}

.team-icons__icon {
  fill: $second-icons-color;
  transition: fill 250ms $cubic;

  .team-icons__link:hover &,
  .team-icons__link:focus & {
    fill: $third-icons-color;
  }
}
/* .team-icon:hover, .team-icon:focus {
  fill: $third-text-color;
} */
